
# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore config.yaml file
config.yaml

# Ignore hashed_password.py file
hashed_password.py